<article class="activity-log-wrapper">
    <!-- @TODO - add here all the activityLog wrapper markup and styling -->
    <header>
        <hgroup class="activity-log-title">
            <h4> {{ activityLog.actor.title }} >> {{ activityLog.target.title }} </h4>

            <h5> {{ activityLog.description }} </h5>
        </hgroup>
    </header>

    <!-- This is a dynamic view for the related object by the his type -->
    <!-- The ng-include saves the Controller -->
    <div ng-include data-src="getPartialUrl(activityLog.relatedObject.type)"></div>

    <fotter>
        <pretty-date date="activityLog.timeCreated"></pretty-date>
        <!-- @TODO - add here all the activtyLog operations: Like, Comment, Expand etc. -->
    </fotter>
</article>

